.body {
    margin: 0;
    background-color: #2929a5;
}

.contact-card {
    flex-basis: 250px;
    margin: 20px;
}

.contact-card > img {
    width: 20px;
    height: 10px;
}

.app {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}
